@import "../../../index.scss";

.MatchEvent {
    max-width: 100%;
    height: 250px;
    border-radius: 4px;
    background-color: $clr-darkgrey;
    .MatchEvent__Wrapper {
        width: 100%;
        height: 80%;
        .e {
            width: 120px;
            height: auto;
            .test {
                width: 100%;
                height: 100%;
                object-fit:contain;
            }
        }
        .EventInfo {
            height: 100%;
            .EventInfo__Socials {
                gap: 15px;
            }
            .EventInfo__Button {
                width: 125px;
                height: 40px;
                border-radius: 2px;
                background-color: $clr-primary;
            }
        }
    }
}
