@import "../../../index.scss";

.Matches_Container {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../../../assets/images/MatchesPage_Background.png");
    flex-direction: column;

    .Matches_Wrapper {
        padding-top: 125px;
        flex-direction: column;
        .Matches_Title {
            width: 100%;
        }
        .input_Container {
            flex-direction: row;
            margin-top: 50px;
            margin-bottom: 50px;
            width: 100%;
            .input_Component {
                width: 600px;
                .Title {
                    width: 100%;
                    text-align: start;
                }
                .Input {
                    width: 100%;
                    height: 50px;
                    background-color: $Dark_Grey;
                    border: none;
                    border-radius: 5px;
                    padding-left: 10px;
                }
                .Input:focus{
                    outline: none;
                }
                .Input::placeholder {
                    color: $Light_Grey;
                }
            }
        }

        .MatchesComponent_Container {
            width: calc(100% - 25px);
            max-height: 1000px;
            flex-direction: column;
            overflow-y: scroll;
            margin-bottom: 100px;
            div{
                justify-self: start !important;
                margin-right: 25px;
                background-color: $Dark_Grey;
            }
        }
    }
}
.matches_Buttons {
    width: 100%;
    gap: 25px;
    margin-top: 30px;
    margin-bottom: 64px;
}
.matches_Container {
    width: 100%;
    height: 900px;
    background-color: $Dark_Grey;

    .matches_Wrapper {
        width: 1440px;
        height: 100%;
        flex-direction: column;
    }

    .matches_MatchContainer {
        width: 100%;
        height: 600px;
        grid-template-columns: repeat(2, 1fr);
        gap: 25px;
        margin-bottom: 80px;
        .matches_Component {
            max-width: 100%;
            height: 100%;
            border-radius: 4px;
            background-color: $Grey;
            flex-direction: row;
            .matches_Logo {
                width: 120px;
                height: auto;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            .matches_Info {
                flex-direction: column;
                .matches_InfoTitle {
                    margin-bottom: 35px;
                }
                .matches_InfoDate {
                    margin-bottom: 20px;
                }
                .matches_InfoSocials {
                    flex-direction: row;
                    gap: 15px;
                    margin-bottom: 35px;
                }
                .matches_InfoButton {
                    width: 125px;
                    height: 40px;
                    border-radius: 2px;
                    background-color: $Primary;
                }
            }
        }
    }
}

#Matches::-webkit-scrollbar-track
{
	border-radius: 10px;
	background-color: $Dark_Grey;
}

#Matches::-webkit-scrollbar
{
	width: 12px;
	background-color: transparent;
}

#Matches::-webkit-scrollbar-thumb
{
	border-radius: 4px;
	background-color: $Primary;
}
