@import "../../../index.scss";

.ProfileDetails {
    background-image: url("../../../assets/images/ProfileDetails_Background.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    column-gap: 20px;
    grid-template-rows: auto;
    grid-template-areas:
        "profileImg description"
        "additionalDetails additionalDetails";
    .ProfileDetails__ProfileImage__Wrapper {
        grid-area: profileImg;
        justify-self: center;
        position: relative;
        .Overlay__Profile_Image {
            width: 300px;
            height: 300px;
            border-radius: 50%;
        }

        .Overlay__ChangeProfilePic {
            position: absolute;
            top: 0%;
            width: 300px;
            height: 300px;
            border-radius: 50%;
            transition: 0.2s ease-in-out;
            opacity: 0;
            background-color:rgba($color: $clr_primary, $alpha: 0.5);
        }
        
        .Overlay:hover .Overlay__ChangeProfilePic{
            opacity: 1;
        }
    }
    .Description {
        grid-area: description;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: max-content max-content max-content;
        grid-template-areas:
            "gamerTag socialIcons"
            "realName socialIcons"
            "description1 description1";
        text-align: start;
        .Description__GamerTag {
            grid-area: gamerTag;
        }
        .Description__RealName {
            grid-area: realName;
            line-height: 187.5%;
        }
        .Description__SocialIcons {
            grid-area: socialIcons;
            justify-self: end;
            align-self: center;
            gap: 10px;
            .Description__SocialIcons__Icon {
                width: 30px;
            }
        }

        .Description__Description {
            grid-area: description1;
            line-height: 187.5%;
        }
    }
}
