@import "./colors.scss";

.pointer {
    cursor: pointer;
}

.Btn_Login {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: $Primary;
    border-radius: 2px;
    margin: 40px 0;
    cursor: pointer;
}

.Btn_Match {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 20px;
    background-color: $Primary;
    border-radius: 2px;
    cursor: pointer;
    font-family: $Statewide_bold_font_family;
    font-size: 6px;
    margin-top: 10px;   
}

.btn_CallToAction_Blue {
    width: 160px;
    height: 50px;
    border-radius: 2px;
    background: $Primary;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.btn_CallToAction_White {
    width: 160px;
    height: 50px;
    border-radius: 2px;
    background: $Secondary;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.btn_emailNewsLetter {
    width: 130px;
    height: 35px;
    border-radius: 8px;
    color: $Black;
    background-color: $Primary;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.btn_Navlogin {
    width: 160px;
    height: 50px;
    background-color: $Primary;
    border-radius: 2px;
}
