@import "../../index.scss";

.Chat {
  background-color: $Grey;
  width: 1920px;
  height: 1080px;
  display: flex;
  flex-direction: row;
  .Chat__Sidebar {
    background-color: $Dark_Grey;
    width: 250px;
  }

  .Chat__Header {

  }
}