

.chat--container{
  display: flex;
  flex-direction: column;
  height: 650px;
  width: 100%;
  background-color: #fafafa;
  justify-content: center;
  align-items: center;
  div{border: black solid 1px;}
}

.chat--wrapper{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 80%;
  justify-content: center;
  align-items: center;
}

.chat--main_section{
  display: flex;
  flex-direction: column;
  height: 60%;
  width: 100%;
  justify-content: center;
  align-items: center;
  border: black solid 1px;
  padding: 20px;
}

.chat--main_header{
  display: flex;
  flex-direction: row;
  height: 10%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.chat--main_messages{
  display: flex;
  flex-direction: column;
  height: 90%;
  width: 100%;
  border: black solid 1px;
  padding: 20px;
}

.chat--input_section{
  display: flex;
  flex-direction: column;
  height: 40%;
  width: 100%;
  justify-content: center;
  align-items: center;
  border: black solid 1px;
  padding: 20px;
}

.chat--input_username{
  display: flex;
  flex-direction: column;
  height: 30%;
  width: 100%;
}

.chat--input_message{
  display: flex;
  flex-direction: column;
  height: 60%;
  width: 100%;
  margin-top: 10px;
}

.chat--message_button{
  display: flex;
  flex-direction: row;
  height: 10%;
  width: 50%;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}



