@import '../../../index';

.MainSection {
  width: 100%;
  display: flex;
  justify-content: center;
  background-image: url(../../../assets/images/pngwing.com.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 444px 343px;
}

.MainSection__Wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 800px;
  line-height: 187%;
}

.MainSection__Hero {
  position: absolute;
  bottom: 0;
  right: 0;
}
