@import "../../../index";

.Guide {
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $clr-background;
    background-repeat: no-repeat;
    background-position: right;

    .Guide__Wrapper {
        width: 1440px;
        height: 100%;
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-between;
    }
}
ContentContainer {
    height: 500px;
    width: 1fr;
    .ContentContainer__Title {
        width: 100%;
        height: 75px;
        margin-bottom: 20px;
    }

}
.ContentContainer__Buttons {
    margin-top: 20px;
    width: 100%;
    flex-direction: row;
    gap: 25px;
    user-select: none;
    margin-bottom: 20px;
}
.VideoContainer {
    height: 500px;
    width: 1fr;
    .VideoContainer__Wrapper {
        width: 100%;
        height: 100%;
        border: 1px solid #279bbb;
        box-sizing: border-box;
        border-radius: 14px;
        iframe {
            width: 100%;
            height: 100%;
            border-radius: 14px;
            border: none;
        }
    }
}

.GuideElement {
    flex-direction: row;
    .GuideElement__Number {
        width: 65px;
        margin-right: 35px;
    }
}

.TextSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .TextSection__Title {
        font-size: 28px !important;
        width: 100%;
        height: 40px;
        text-align: start;
        align-items: center;
        display: flex;
    }
    .TextSection__Paragraph {
        width: 270px;
        text-align: justify;
        align-items: center;
        display: flex;
        height: 100%;
        line-height: 24px;
    }
}


