@import "../../../index.scss";


.CastersPage {
  height: 1000px;
}

.CasterContainer {
  height: 160px;
  width: 1200px;
  background-color: red;

  margin: auto auto 20px;
}

.CasterContainer__Wrapper {

}

.PhotoContainer__Photo {
  width: 50px;
  height: 50px;
}