@import "../../../index";

.Cta {
    background-color: $Dark_Grey;
    height: 500px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-template-areas: "text image";
    align-items: center;
    gap: 50px;
    .Banner {
        width: 100%;
        height: 390px;
        .Banner__Wrapper {
            position: relative;
            justify-self: center;
            .Overlay__BannerImage {
                width: 100%;
                height: 390px;
                object-fit: cover;
            }
            .Overlay__ChangeBannerImage {
                position: absolute;
                top: 0%;
                width: 100%;
                max-width: 1fr;
                height: 390px;
                transition: 0.2s ease-in-out;
                opacity: 0;
                background-color: rgba($color: $clr_primary, $alpha: 0.5);
            }

            .Overlay:hover .Overlay__ChangeBannerImage {
                opacity: 1;
            }
        }
    }
    .Text {
        grid-area: text;
        height: 390px;

        .Text_SubTitle {
            font-style: normal;
            line-height: 35px;
            text-align: center;
            text-transform: capitalize;
        }
        .Text__Buttons {
            gap: 20px;
            grid-template-columns: repeat(2, 1fr);
        }
    }
    .Cta__Image {
        grid-area: image;

        justify-items: center;
    }
}
