@import '../../../index.scss';

.CallToAction {
    height: 900px;
    background-image: url('../../../assets/images/callToAction.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    .CallToAction__Wrapper{
        @media (min-width: $phone) {}
        height: 100%;
        display: grid;
        grid-template-columns: repeat(2, 540px);
        justify-content: start;
        align-items: center;
    }
}

.ContentSection__HighlightedTitle {
    line-height: 98px;
    margin-top: -10px;
}

.ContentSection__Title {
    line-height: 88px;
}




.ContentSection__Paragraph{
    text-align: justify;
    margin-bottom: 20px;
}

.ContentSection__Buttons{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 35px;
}
