@import '../../../index.scss';

.CallToAction {
    width: 100%;
    height: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $Grey;
    background-image: url('../../../assets/images/callToAction.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.CallToAction__Wrapper{
    width: 1440px;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 540px);
    justify-content: start;
    align-items: center;
}


.callToAction_Paragraph{
    text-align: justify;
    margin-bottom: 20px;
}

.callToAction_Buttons{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 35px;
}
