@import "../../../index.scss";

.Blog {
    .Blog__Wrapper {
        .BlogTitle {
            font-size: 48px;
            margin-bottom: 10px;
        }
        .BlogSubTitle {
            margin-bottom: 50px;
        }
        .BlogContainer {
            grid-template-columns: repeat(3, 420px);
            gap: 25px;
            text-align: left;
            .BlogComponent__Image {
                width: 100%;
                height: 300px;
                border-radius: 14px;
                border: 1px solid $Primary;
                margin-bottom: 30px;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 14px;
                }
            }
            .BlogComponent__Title {
                width: 100%;
                height: auto;
                margin-bottom: 10px;
            }

            .BlogComponent__Paragraph {
                width: 100%;
                height: auto;
                margin-bottom: 10px;
            }

            .BlogComponent__ReadMore {
                user-select: none;
                cursor: pointer;
            }
        }
    }
}
