@import "../../../index";

.MissionAndVision {
    background: url("../../../assets/images/tanks.png") no-repeat;
    background-size: cover;

    .MissionAndVision__Wrapper {}
}

.Title {
    margin-top: 150px;
}
.Mission {
    width: 900px;
    height: 250px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;

    .Mission__Title {
        width: 170px;
        height: 90px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: justify;
        transform: rotate(-90deg);
        margin-right: -50px;
        margin-left: -50px;
        font-size: 45px !important;
        line-height: 98px;
    }

    .Mission__Paragraph {
        line-height: 250%;
        text-align: justify;
    }
}
.Vision {
    width: 900px;
    height: 250px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 50px;
    .Vision__Title {
        width: 250px;
        height: 90px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: justify;
        transform: rotate(-90deg);
        margin-right: -50px;
        margin-left: -50px;
        font-size: 45px !important;
    }

    .Vision__Paragraph {
        line-height: 250%;
        text-align: justify;
    }
}
.EndQuote {
    margin-bottom: 150px;
}
