@import '../../../../index';

.FAQItemComponent {
    display: flex;
    width: 100%;
    .FAQItemComponent__Wrapper {
        width: 100%;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto;
        grid-template-areas:
        "text visual";

        .FAQItemComponentText {
            grid-area: text;
            text-align: start;
        }
        .FAQItemComponentVisual {
            grid-area: visual;
            justify-self: center;
            align-self: center;
        }
    }
}
