@import url(../../../index.scss);

.Navbar_Container {
    height: 125px;
    background-color: black; //ÆNDRE TIL COLOR SHEET NÅR DET ER LAVET
    flex-direction: row;
}

.Navbar_Wrapper {
    width: 1440px; //LAV CONTENT WIDTH PÅ LAYOUT SHEET
    height: 100%;
}

.Navbar_Links_Left {
    max-width: 33%;
    width: fit-content;
    margin: 0 20px;
}

.Navbar_Logo {
    width: 125px;
    height: 125px;
}

.Navbar_Links_Right {
    max-width: 33%;
    width: fit-content;
    margin: 0 20px;
}

.Links {
    text-decoration: none;
    margin: 0 1em;
}
