@import url(../../../index.scss);

.Navbar_Container {
    height: 125px;
    background-color: black; //ÆNDRE TIL COLOR SHEET NÅR DET ER LAVET
    flex-direction: row;
}

.Navbar_Wrapper {
    width: 1440px; //LAV CONTENT WIDTH PÅ LAYOUT SHEET
    height: 100%;
}

.Navbar_Logo {
    width: 125px;
    height: 125px;
    .logo {
        text-decoration: none;
    }
}

.Navbar_Links {
    max-width: 100%;
    width: 100%;
}

.Links {
    text-decoration: none;
    margin: 0 1em;
}
