@import "../../index.scss";


.Login_Container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("../../assets/images/L.png");
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.Login_Wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (min-width: $Desktop) {
    .Login_Wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 1440px;
    }
}
