@import '../../../index.scss';

.ChatComponent {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ChatComponent__Wrapper {
  background-color: $Grey;
  width: 1440px;
  height: 800px;
  display: flex;
  flex-direction: row;
  .ChatSideBar {
    padding-top: 43px;
    background-color: $Dark_Grey;
    width: 250px;
    .ChatRoomContainer {
    }
  }

  .ChatSection {
    width: 100%;
    height: 126px;
    top: 0;
    .ChatSectionHeader {
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      width: 100%;
      height: 126px;
      text-align: start;
      .ChatSectionHeader__Title {
        margin-left: 79px;
        justify-self: center;
        padding-top: 43px;
        padding-bottom: 43px;
      }
    }
    .ChatSectionBody {
      max-height: 500px;
      overflow-y: scroll;
      .ChatMessage {
        display: flex;
        flex-direction: row;
        background-color: $Dark_Grey;
        border-radius: 100px;
        margin: 20px 79px 20px;

        .ChatMessage__ProfileImg {
          width: 100px;
          height: 100px;
          border-radius: 100px;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
        }
        .ChatMessageText {
          display: flex;
          flex-direction: column;
          text-align: left;
          margin-left: 33px;
          justify-content: center;
          .ChatMessageText__Username {
          }
          .ChatMessageText__TextMsg {
          }
        }
      }
    }
    .ChatInputArea {
      background-color: #40444B;
      margin-left: 79px;
      margin-right: 79px;
      height: 50px;
      border-radius: 50px;
      margin-top: 50px;
      display: grid;
      column-gap: 20px;
      grid-template-rows: auto;
      grid-template-areas:
      "InputField SendBtn";
      .ChatInputArea__InputField {
        grid-area: InputField;
        background-color: transparent;
        border: none;
        outline: none;
        margin-left: 20px;
      }
      .ChatInputArea__SendBtn {
        grid-area: SendBtn;
        justify-self: end;
        background-color: $Primary;
        height: 50px;
        width: 50px;
        border-radius: 50px;
        align-items: center;
        justify-content: center;
        align-content: center;
        align-self: center;
        justify-items: center;
        display: flex;
        .ChatInputArea__SendBtn__Icon {
          color: $Secondary;

        }
      }
    }
  }
}


.WOW {
  background-image: url('../../../assets/images/GameLogos/WOW.jpg');
  width: 100px;
  height: 100px;
  border-radius: 100px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 58px;
  margin-top: 40px;
}

.CSGO {
  background-image: url('../../../assets/images/GameLogos/CSGO.jpg');
  width: 100px;
  height: 100px;
  border-radius: 100px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 58px;
  margin-top: 40px;
}

.VALORANT {
  background-image: url('../../../assets/images/GameLogos/VALORANT.jpg');
  width: 100px;
  height: 100px;
  border-radius: 100px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 58px;
  margin-top: 40px;
}

.LOL {
  background-image: url('../../../assets/images/GameLogos/LOL.jpg');
  width: 100px;
  height: 100px;
  border-radius: 100px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 58px;
  margin-top: 40px;
}
