@import "../../index.scss";

@media only screen and (min-width: $Desktop) {
    .Register_Container {
        width: 80%;
        max-width: 100% !important;
        min-height: 90%;
        max-height: 90%;
        border-radius: 0.2rem;
        background-color: $Dark_Grey;
        backdrop-filter: blur(30px);
        height: auto;
        flex-direction: column;
    }

    .Register_Wrapper {
        width: 80%;
        flex: 1;
        flex-direction: column;
        .add-form_Container {
            width: 100%;
            height: 100%;
            flex: 1;
            .add-form {
                width: 100%;
                height: 100%;
                grid-template-columns: repeat(auto-fill, 200px);
                row-gap: 50px;

            }

            .add-form_Description{
                flex-direction: row;
                width: 100%;
                height: 100%;
            }
            .add-form_Wrapper{
                height: 100%;
                width: 100%;
                grid-template-columns: repeat(2, 1fr);
                .CasterButtons{
                    color: $Secondary;
                    transition: 0.2s;
                    user-select: none;
                }

                .CasterButtons:hover{
                    color: $Primary;
                }
            }
        }
    }

    .Register_Header {
        width: 100%;
        height: fit-content;
        flex-direction: row;
        gap: 25px;
        margin-top: 80px;
        .Step {
            font-size: 80px !important;
        }
    }
}

.Login_Div_Container {
    max-width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Login_Div_Wrapper {
    height: auto;
    input {
        border: none;
    }
    input:focus {
        outline: none;
    }
}

.Login_Div_Header {
    display: flex;
    justify-content: left;
    align-items: center;
}

.Register_Component {
    display: flex;
    margin-top: 10px;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: start;
    gap: 10px;
    .Input {
        max-width: 100%;
        height: 50px;
        border-radius: 5px;
        background-color: $Secondary;
        padding-left: 20px;
    }
    .Input::placeholder {
        color: $Black;
    }


}

.Register_Component_Description{
    width: 100%;
    height: 100%;
    flex-direction: column;
    text-align: start;
    gap: 10px;
    .Input_Description{
        border-radius: 5px;
        background-color: $Secondary;
        padding-left: 20px;
        height: 300px;
        max-width: 100%;
        resize: none;
    }
}

.Register_Buttons {
    width: 100%;
    height: 100%;
    flex-direction: row;
    gap: 20px;
}

.Login_Button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: $Primary;
    border-radius: 5px;
    margin: 40px 0;
    cursor: pointer;
}


.Login_Div_Continue_Register {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    .Register {
        text-decoration: none;
    }
}

.Half_opacity {
    opacity: 0.5;
}

.Login_Button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: $Primary;
    border-radius: 5px;
    margin: 40px 0;
    cursor: pointer;
}
.Step_Counter {
    width: 95%;
    height: auto;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    margin-bottom: 30px;
    .Step_Div {
        width: 100%;
        height: 15px;
        background-color: $Secondary;
    }

    .Step_Div_Active {
        width: 100%;
        height: 15px;
        background-color: $Primary;
    }
}

.finished_Container{
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
}
