

.Navbar {
    position: absolute;
    top: 0;
    left: 0;
    height: 125px;
    background-color: transparent; //ÆNDRE TIL COLOR SHEET NÅR DET ER LAVET
    flex-direction: row;
    z-index: 999;
}

.Navbar__Wrapper {
    width: 1440px; //LAV CONTENT WIDTH PÅ LAYOUT SHEET
    height: 100%;
}

.NavbarLogo {
    width: 125px;
    height: 125px;
    .NavbarLogo_Logo {
        text-decoration: none;
    }
}

.NavbarMenu {
    max-width: 100%;
    width: 100%;
}

.NavbarMenu__Links {
    justify-content: center;
    text-decoration: none;
    margin: 0 1em;
}

.LoggedIn_Container {
    width: 150px;
    height: 100%;
    background-color: transparent;
    flex-direction: column;
    position: relative;
    .LoggedIn_Wrapper {
        flex-direction: row;
        width: 100%;
        height: 100%;
        text-align: end;
        gap: 5px;
        .information {
            flex-direction: column;
            flex: 2;
            .username {
                width: 100%;
                height: auto;
            }
            .Wallet_Wrapper {
                width: 100%;
                height: auto;
                flex-direction: row;
                gap: 5px;
            }
        }
        .Profile_Pic {
            flex-direction: row;
            img {
                border-radius: 50%;
                width: 40px;
                height: 40px;
                background-color: #111;
            }
        }
    }
    .Dropdown {
        position: absolute;
        top: 120%;
        width: 100%;
        height: auto;
        background-color: rgba($color: #fff, $alpha: 0.1);
        border: 1px solid rgba($color: #fff, $alpha: 0.2);
        color: #fff;
        text-align: end;
        border-radius: 5px;

        .Dropdown__option {
            width: 100%;
            height: 30px;
            text-align: end;
            border-bottom: 1px solid rgba($color: #fff, $alpha: 0.2);
            border-radius: 5px 5px 0 0;
            transition: 0.2s;
            .Dropdown__option__text {
                margin-right: 10px;
            }
        }

        .Dropdown__option:hover {
            background-color: rgba($color: #279bbb, $alpha: 0.5);
        }

        .Dropdown__Logout {
            width: 100%;
            height: 30px;
            text-align: end;
            border-radius: 0 0 5px 5px;
            transition: 0.2s;
            .Dropdown__option__text {
                margin-right: 10px;
            }
        }

        .Dropdown__Logout:hover {
            background-color: rgba($color: rgb(170, 46, 46), $alpha: 0.5);
        }
    }
}
