@import url(../../../../index.scss);

.FooterMain {
    width: 100%;
    height: 350px;
}

.FooterLogo {
    width: 125px;
    height: 100px;
    .FooterLogo_Logo {
        text-decoration: none;
    }
}

.FooterText {
    max-width: 382px;
}

.FooterMenu {
    margin-top: 44px;
    max-width: 100%;
    width: 100%;

    .FooterMenu__Link {
        justify-content: center;
        text-decoration: none;
        margin: 0 3em;
    }
}

.FooterSocials {
    margin-top: 42px;
    justify-self: end;
    align-self: center;

    :not(:first-child) {
        margin-left: 20px;
    }

    .FooterSocials__Icon {
        width: 30px;
    }
}
