@import '../../index.scss';

@media only screen and (min-width: $desktop) {
    .Login {
        width: 80%;
        max-width: 100% !important;
        border-radius: 0.2rem;
        background-color: $clr-background;
        backdrop-filter: blur(30px);
        height: 130%;
    }

    .Login__Wrapper {
        width: 60%;
    }
}

.Login {
    max-width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    .Login__Wrapper {
        height: auto;
        input{
            border: none;
        }
        input:focus{
            outline: none;
        }
    }
}

.LoginHeader {
    display: flex;
    justify-content: left;
    align-items: center;
}

.LoginInput {
    display: flex;
    margin-top: 10px;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: start;
    .LoginInput__Field {
        max-width: 100%;
        height: 50px;
        border-radius: 5px;
        background-color: $clr-secoundary;
        padding-left: 20px;
    }
    .LoginInput__Field::placeholder {
        color: $clr-black;
    }
}

.LoginForgotPass{
    display: flex;
    margin-top: 20px;
    .LoginForgotPass__Line {
        text-decoration: none;
    }
}

.LoginSignIn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: $clr-primary;
    border-radius: 5px;
    margin: 40px 0;
    cursor: pointer;
}

.LoginContinueWith {
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;

    width: 100%;
    justify-content: center;
    align-items: center;
    .Buttons{
        padding: 5px 20px;
        background-color: $clr-secoundary;
        border-radius: 40px;
        margin: 10px 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
}

.LoginContinueWith__Register{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    .Register{
        text-decoration: none;
    }
}

.LoginContinueWith__Buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    width: 100%;
    justify-content: center;
    align-items: center;
    .LoginContinueWith__Buttons__Buttons {
        padding: 5px 20px;
        background-color: $clr-secoundary;
        border-radius: 40px;
        margin: 10px 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
}

.Login_Button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: $clr-primary;
    border-radius: 5px;
    margin: 40px 0;
    cursor: pointer;
}
