
.EventDetails {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 999;

    .EventDetails__Wrapper {
        position: fixed;
        background: #1f1f1f;
        width: 1100px;
        height: auto;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 15px;

        .EventDetails_Title {
            width: 100%;
            height: auto;
        }

        .Details {
            grid-template-columns: repeat(2, 1fr);

            .Details__HiringInfo {
                width: 100%;
                margin-left: 25px;

                .Details__HiringTitle {
                    width: 100%;
                    height: 50px;
                    border-bottom: 1px solid white;
                }

                .Details__HiringText {
                    flex-direction: row;
                    text-align: start;

                    .Details__HiringLogo {
                        width: 80px;
                        height: 80px;
                        border-radius: 50%;
                        border: 1px solid white;

                        img {
                            border-radius: 50%;
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }

            .GameDetails {
                margin-right: 25px;
            }

            .GameDetails__Components {
                grid-template-columns: repeat(2, 1fr);
                gap: 15px;
                height: 100%;

                .GameDetails__InfocomponentGame {
                    flex-direction: column;
                    grid-column-start: 1;
                    grid-column-end: 3;
                }
            }
        }

        .CloseButton {
            width: 100%;
            height: auto;
        }
    }
}

.Caster {
    width: calc(100% - 50px);
    height: 150px;
    margin: 0 25px;
    .Caster_Title {
        width: 100%;
        height: 50px;
        border-bottom: 1px solid white;
        margin: 0 15px 25px;
    }
    .Caster_Paragraph {
        width: 100%;
        height: auto;
        margin: 0 15px;
    }

    .Caster_Component {
        width: 100%;
        height: auto;
        grid-template-columns: repeat(2, 1fr);
        .Caster_Component__Budget {
            .Caster_Component__BudgetInfo {
                height: 50px;
            }
        }
        .OfferComponent {
            .OfferComponent__inputContainer {
                input {
                    text-align: center;
                    width: 50%;
                    height: 50px;
                    border-radius: 4px;
                    background-color: #111111;
                    border: none;
                }

                input:focus {
                    outline: none;
                }
            }
        }
    }
}

.Org {
    margin: 0 25px;
    height: 250px;
    width: calc(100% - 50px);

    .Org__Title {
        width: calc(100%);
        height: 50px;
        margin-left: 25px;
        margin-right: 25px;
        border-bottom: 1px solid white;
    }

    .OrgComponent {
        width: 100%;
        height: 100%;

        .OrgComponent__Wrapper {
            width: 95%;
            min-height: 170px;
            border-radius: 15px;
            background-color: #111111;
            border: 2px solid white;

            .OrgComponent__Image {
                width: 80px;
                height: 80;
                border-radius: 50%;
                border: 2px solid white;
                margin-left: 35px;
                margin-right: 10px;

                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                }
            }

            .OrgComponent__NameContainer {
                
                height: 80px;
                width: auto;

                .OrgComponent__Name {
                    width: 100%;
                    text-align: start;
                }

                .OrgComponent__Description {
                    width: 100%;
                    text-align: start;
                }
            }

            .OrgComponent__OfferContainer {
                height: 80px;
                flex: 1;
                padding-right: 15px;
            }
        }
    }
}

.Participants__Title{
    width: 100%;
    height: 50px;
    border-bottom: 1px solid white;
    margin: 0 15px 25px;
}

.GameDetails__Title {
    width: 100%;
    height: 50px;
    border-bottom: 1px solid white;
    margin: 0 15px 25px;
}
