@import url(../../../../styles/utility/colors.scss);

.Event_Container{
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    .Event_Wrapper{
        position:fixed;
        background: #1f1f1f;
        width: 1100px;
        height: auto;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
        border-radius: 15px;
        flex-direction: column;
        .Event_Title{
            width: 100%;
            height: auto;
            margin-top: 50px;
        }
        .Event_DetailsContainer{
            grid-template-columns: repeat(2, 1fr);
            gap: 50px;
            .Event_HiringInfo{
                width: 100%;
                margin-left: 25px;
                .Info{
                    flex-direction: row;
                    text-align: start;
                    margin-bottom: 20px;
                    gap: 20px;
                    .Logo{
                        width:80px;
                        height:80px;
                        border-radius: 50%;
                        border: 1px solid white;
                        img{
                            border-radius: 50%;
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }
            .Event_GameDetails{
                margin-right: 25px;
            }
            .Component_Title{
                margin-bottom: 10px;
            }
            .Component_Container{
                grid-template-columns: repeat(2,1fr);
            }
        }
        .Title{
            width: 100%;
            height: 50px;
            margin-bottom: 15px;
            border-bottom: 1px solid white;
        }
        .Event_button{
            width: 100%;
            height: auto;
            margin-bottom: 50px;
            margin-top: 150px;
        }
    }
}