@import '../../../index';

.Orgs {
    height: 310px;
    background-color: $clr-background;

    .OrgsContent {

        .OrgsContent__Title {
        }

        .OrgsContent__Logos {
            gap: 10px;

            img{
                filter: grayscale(100%);
                transition: 0.2s;
            }

            img:hover{
                filter: grayscale(0%);
            }
        }

    }

}



