@import "devices.scss";

.Flow > * + * {
    margin-top: var(--flow-space, 1em);
  }

.Flex {
    display: flex;
}

.Grid {
    display: grid;
}

.Block {
    display: block;
}

.Justify_Start {
    justify-content: flex-start;
    justify-content: left;
}

.Justify_Center {
    justify-content: center
}

.Justify_End {
    justify-content: flex-end;
    justify-content: right;
}

.Justify_Evenly {
    justify-content: space-evenly;
}

.Justify_Between {
    justify-content: space-between;
}

.Justify_Around {
    justify-content: space-around;
}

.Align_Start {
    align-items: flex-start;
}

.Align_Center {
    align-items: center;
}

.Align_End {
    align-items: flex-end;
}

.Full_Width {
    width: 100%;
}

.Content_Width {
    @media (min-width: $Tablet) {
        margin: 0 10%;
    }
    @media (min-width: $Laptop) {
        margin: 0 10%;
    }
    @media (min-width: $Desktop) {
        margin: 0 10%;
    }
}

