@import "./styles/utility/colors.scss";
@import "./styles/utility/typography.scss";
@import "./styles/utility/buttons.scss";
@import "./styles/composition/composition.scss";

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  margin: 0;
  position: relative;
  background-color: #111111;
}

//-------------------------- Reset --------------------------
html, body,
h1, h2, h3, h4, h5, h6,
a, p, span,
em, small, strong,
sub, sup,
mark, del, ins, strike,
abbr, dfn,
blockquote, q, cite,
code, pre,
ol, ul, li, dl, dt, dd,
div, section, article,
main, aside, nav,
header, hgroup, footer,
img, figure, figcaption,
address, time,
audio, video,
canvas, iframe,
details, summary,
fieldset, form, label, legend,
table, caption,
tbody, tfoot, thead,
tr, th, td, {
  margin: 0;
  padding: 0;
  border: 0;
}

//-------------------------- Flow --------------------------

.flow > * + * {
  margin-top: var(--flow-space, 1em);
}

.flex-flow {
  display: flex;
  justify-content: center;
  align-items: center;
}

//-------------------------- Devices --------------------------
$phone: 600px;
$tablet: 900px;
$desktop: 1200px;

//-------------------------- Fonts --------------------------
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oxanium&display=swap");

@font-face {
  font-family: "Statewide_bold";
  src: url("assets/fonts/StateWide-Bold.ttf");
}

@font-face {
  font-family: "Statewide_light";
  src: url("assets/fonts/StateWide-Light.ttf");
}

@font-face {
  font-family: "Statewide_light_itallic";
  src: url("assets/fonts/StateWide-LightItalic.ttf");
}

$Statewide_bold_font_family: "Statewide_bold";
$Statewide_light_font_family: "Statewide_light", sans-serif;
$Statewide_light_italic_font_family: "Statewide_light_italic", sans-serif;
$Poppins_font_family: "Poppins", sans-serif;
$Oxanium_font_family: "Oxanium", sans-serif;

//--------------------------Font - CLASSES--------------------------
.font-statewideBold {
  font-family: $Statewide_bold_font_family;
}
.font-statewideLight {
  font-family: $Statewide_light_font_family;
}
.font-statewideItalic {
  font-family: $Statewide_light_italic_font_family;
}
.font-poppins {
  font-family: $Poppins_font_family;
}
.font-oxanium {
  font-family: $Oxanium_font_family;
}

//--------------------------Font-style - CLASSES--------------------------

.font-normal{
  font-style: normal;
}

.font-italic{
  font-style: italic;
}

//--------------------------Font-weight - values--------------------------
$fontWeight-900: 900;
$fontWeight-600: 600;
$fontWeight-300: 300;

//--------------------------Font-weight - CLASSES--------------------------
.fw-900{
  font-weight: $fontWeight-900;
}
.fw-600{
  font-weight: $fontWeight-600;
}
.fw-300{
  font-weight: $fontWeight-300;
}

//-------------------------- Colors --------------------------
$clr-primary: #279BBB;
$clr-secoundary: #C1DCEB;
$clr-white: #FFFFFF;
$clr-background: #111111;
$clr-darkblue: #222C38;
$clr-blue: #004893;
$clr-lightblue: #0095E8;
$clr-lighterblue: #8FFFFB;
$clr-lightgrey: #C9C9C9;
$clr-grey: #8692A6;
$clr-neon: #11FFBF;
$clr-footerbg: #29394E;
$clr-black: #000000;

//-------------------------- Text color - CLASSES --------------------------
.clr-primary {
  color: $clr-primary;
}
.clr-secondary{
  color: $clr-secoundary
}
.clr-white{
  color: $clr-white;
}
.clr-darkblue{
  color: $clr-darkblue;
}
.clr-blue{
  color: $clr-blue;
}
.clr-lightblue{
  color: $clr-lightblue;
}
.clr-lighterblue{
  color: $clr-lighterblue;
}
.clr-black {
  color: $clr-black;
}

//-------------------------- Background color - CLASSES --------------------------
.background-color{
  background-color: $clr-background;
}
.background-white{
  background-color: $clr-white;
}
.background-footer {
  background-color: $clr-footerbg;
}

//--------------------------Attention - VALUES --------------------------
//--------------------------Attention 4 - VALUES--------------------------
$attention_4_desktop: 80px;
$attention_4_tablet: 80px;
$attention_4_mobile: 40px;

//--------------------------Attention - CLASSES--------------------------
.a4 {
  font-size: $attention_4_mobile;
  @media only screen and (min-width: $phone) {
    font-size: $attention_4_tablet; }
  @media only screen and (min-width: $desktop) {
    font-size: $attention_4_desktop; }}

//--------------------------Paragraph - VALUES --------------------------
//--------------------------Paragraph 1 - VALUES--------------------------
$paragraph_1_desktop: 20px;
$paragraph_1_tablet: 19px;
$paragraph_1_mobile: 18px;
//--------------------------Paragraph 2 - VALUES--------------------------
$paragraph_2_desktop: 16px;
$paragraph_2_tablet: 16px;
$paragraph_2_mobile: 12px;
//--------------------------Paragraph 3 - VALUES--------------------------
$paragraph_3_desktop: 14px;
$paragraph_3_tablet: 14px;
$paragraph_3_mobile: 10px;
//--------------------------Paragraph 4 - VALUES--------------------------
$paragraph_4_desktop: 14px;
$paragraph_4_tablet: 13px;
$paragraph_4_mobile: 7px;


//--------------------------Paragraph - CLASSES--------------------------
.p1 {
  font-size: $paragraph_1_mobile;
  @media only screen and (min-width: $phone) {
    font-size: $paragraph_1_tablet; }
  @media only screen and (min-width: $desktop) {
    font-size: $paragraph_1_desktop; }}
.p2 {
  font-size: $paragraph_2_mobile;
  @media only screen and (min-width: $phone) {
    font-size: $paragraph_2_tablet; }
  @media only screen and (min-width: $desktop) {
    font-size: $paragraph_2_desktop; }}
.p3 {
  font-size: $paragraph_3_mobile;
  @media only screen and (min-width: $phone) {
    font-size: $paragraph_3_tablet; }
  @media only screen and (min-width: $desktop) {
    font-size: $paragraph_3_desktop; }}
.p4 {
  font-size: $paragraph_4_mobile;
  @media only screen and (min-width: $phone) {
    font-size: $paragraph_4_tablet; }
  @media only screen and (min-width: $desktop) {
    font-size: $paragraph_4_desktop; }}


//--------------------------Header 1 - VALUES--------------------------
$header_0_desktop: 105px;
$header_0_tablet: 70px;
$header_0_mobile: 36px;

$header_1_desktop: 60px;
$header_1_tablet: 53px;
$header_1_mobile: 19px;

//--------------------------Header 2 - VALUES--------------------------
$header_2_desktop: 34px;
$header_2_tablet: 34px;
$header_2_mobile: 13px;

//--------------------------Header 3 - VALUES--------------------------
$header_3_desktop: 29px;
$header_3_tablet: 29px;
$header_3_mobile: 20px;


//--------------------------Header - CLASSES--------------------------
.h0{
  font-size: $header_0_mobile;
  @media only screen and (min-width: $phone) {
    font-size: $header_0_tablet; }
  @media only screen and (min-width: $desktop) {
    font-size: $header_0_desktop; }}

.h1 {
  font-size: $header_1_mobile;
  @media only screen and (min-width: $phone) {
    font-size: $header_1_tablet; }
  @media only screen and (min-width: $desktop) {
    font-size: $header_1_desktop; }}

.h2 {
  font-size: $header_2_mobile;
  @media only screen and (min-width: $phone) {
    font-size: $header_2_tablet; }
  @media only screen and (min-width: $desktop) {
    font-size: $header_2_desktop; }}

.h3 {
  font-size: $header_3_mobile;
  @media only screen and (min-width: $phone) {
    font-size: $header_3_tablet; }
  @media only screen and (min-width: $desktop) {
    font-size: $header_3_desktop; }}

//--------------------------Padding - CLASSES--------------------------
.padding-top-1{
  padding-top: 0.5rem;
}
.padding-top-2{
  padding-top: 1rem;
}
.padding-top-3{
  padding-top: 1.5rem;
}
.padding-top-4{
  padding-top: 2.0rem;
}
.padding-top-5{
  padding-top: 2.5rem;
}
//--------------------------Bottom
.padding-bottom-1{
  padding-bottom: 0.5rem;
}
.padding-bottom-2{
  padding-bottom: 1rem;
}
.padding-bottom-3{
  padding-bottom: 1.5rem;
}
.padding-bottom-4{
  padding-bottom: 2.0rem;
}
.padding-bottom-5{
  padding-bottom: 2.5rem;
}
//--------------------------Right
.padding-right-1{
  padding-right: 0.5rem;
}
.padding-right-2{
  padding-right: 1rem;
}
.padding-right-3{
  padding-right: 1.5rem;
}
.padding-right-4{
  padding-right: 2.0rem;
}
.padding-right-5{
  padding-right: 2.5rem;
}
//--------------------------Left
.padding-left-1{
  padding-left: 0.5rem;
}
.padding-left-2{
  padding-left: 1rem;
}
.padding-left-3{
  padding-left: 1.5rem;
}
.padding-left-4{
  padding-left: 2.0rem;
}
.padding-left-5{
  padding-left: 2.5rem;
}

//--------------------------Margin-Top - CLASSES--------------------------
.margin-top-xs{
  margin-top: 0.5rem;
}
.margin-top-s{
  margin-top: 1rem;
}
.margin-top-m{
  margin-top: 1.25rem;
}
.margin-top-l{
  margin-top: 1.5rem;
}

.margin-top-xl{
  margin-top: 2.0rem;
}
.margin-top-xxl{
  margin-top: 6rem;
}

.margin-top-xxxl{
  margin-top: 20rem;
}

//--------------------------Margin-Buttom - CLASSES--------------------------
.margin-bottom-xs{
  margin-bottom: 0.5rem;
}
.margin-bottom-s{
  margin-bottom: 1rem;
}
.margin-bottom-m{
  margin-bottom: 1.25rem;
}
.margin-bottom-l{
  margin-bottom: 1.5rem;
}
.margin-bottom-xl{
  margin-bottom: 2.0rem;
}
.margin-bottom-xxl{
  margin-bottom: 5rem;
}
.margin-bottom-xxxl{
  margin-bottom: 20rem;
}

//--------------------------Padding-Top - CLASSES--------------------------
.padding-top-xs{
  padding-top: 0.5rem;
}
.padding-top-s{
  padding-top: 1rem;
}
.padding-top-m{
  padding-top: 1.25rem;
}
.padding-top-l{
  padding-top: 1.5rem;
}
.padding-top-xl{
  padding-top: 2.0rem;
}
.padding-top-xxl{
  padding-top: 6rem;
}

//--------------------------Gap - CLASSES--------------------------
.gap-1{
  gap: 0.5rem;
}
.gap-2{
  gap:1rem;
}
.gap-3{
  gap: 1.5rem;
}
.gap-4{
  gap: 2.0rem;
}
.gap-5{
  gap: 2.5rem;
}


//--------------------------FLex - CLASSES--------------------------
.display-flex{
  display: flex;
}
.display-grid{
  display: grid;
}
.flex-direction-column{
  flex-direction: column;
}
.flex-direction-row{
  flex-direction: row;
}
.margin-auto {
  margin: auto;
}
.justify-content-center{
  justify-content: center !important;
}
.justify-content-space-between{
  justify-content: space-between !important;
}
.align-items-center{
  align-items: center !important;
}
.flex-wrap-wrap{
  flex-wrap: wrap;
}

//--------------------------Height - CLASSES--------------------------
.height-max-content{
  height: max-content;
}
.height-full{
  height: 100%;
}

//--------------------------Width - content sizes -------------------
$content-width-desktop: 1440px;
$content-width-laptop: 1200px;
$content-width-tablet: 600px;
$content-width-phone: 300px;

//--------------------------Width - CLASSES--------------------------
.width-content {
  width: $content-width-desktop;
  @media (max-width: $desktop) {
    width: $content-width-laptop;
  }
  @media (max-width: $tablet) {
    width: $content-width-tablet;
  }
  @media (max-width: $phone) {
    width: $content-width-phone;
  }
}
.width-max-content {
  width: max-content;
}
.width-full {
  width: 100vw;
}

//--------------------------Cursor - CLASSES--------------------------
.cursor-pointer{
  cursor: pointer;
}

//--------------------------Object-Fit - CLASSES--------------------------
.object-fit-contain{
  object-fit: contain;
}

//--------------------------Overflow_Y_X - CLASSES--------------------------
.overflow-y-scroll{
  overflow-y: scroll;
}
.overflow-y-hidden{
  overflow-y: hidden;
}
.overflowx-scroll{
  overflow-x: scroll;
}
.overflow-x-hidden{
  overflow-x: hidden;
}

//--------------------------Border - CLASSES--------------------------
.boorder-none{
  border: none;
}

//--------------------------Buttons - CLASSES--------------------------
$border-squared: 5px;
$border-round: 20px;

@mixin btn-general($bg-clr, $border-clr, $text-clr, $border-radius) {
  font-family: 'Quicksand';
  font-style: normal;
  text-align: center;
  font-weight: 700;
  padding-inline: 0px !important;
  padding-block: 0px !important;
  cursor: pointer;
  background-color: $bg-clr;
  border: $border-clr 2px solid;
  color: $text-clr;
  border-radius: $border-radius;

  &:focus, &:focus, [type="submit"]:focus {
    outline: none;
  }
}

.btn-dark-round {
  @include btn-general($clr-darkblue, transparent, $clr-white, $border-round);

  width: 90px;
  height: 30px;
  font-size: 10px;

  @media only screen and (min-width: $tablet) {
    width: 160px !important;
    height: 30px !important;
    font-size: 16px;
  }
}

.btn-transparent-round-sm {
  @include btn-general(transparent, $clr-white, $clr-white, $border-round);

  display: none;

  @media only screen and (min-width: $phone) {
    display: block;
    width: 92px;
    height: 23px;
    font-size: 10px;
  }
}

.btn-transparent-round-md {
  @include btn-general(transparent, $clr-white, $clr-white, $border-round);

  display: none;

  @media only screen and (min-width: $phone) {
    display: block;
    width: 130px;
    height: 35px;
    font-size: 18px;
  }
}

.btn-neon-round {
  @include btn-general($clr-neon, transparent, $clr-black, $border-round);

  display: none;

  @media only screen and (min-width: $phone) {
    display: block;
    width: 160px;
    height: 30px;
    font-size: 16px;
  }
}

.btn-green-squared-lg {
  @include btn-general($clr-primary, transparent, $clr-white, $border-squared);

  width: 200px;
  height: 50px;
  font-size: 14px;

  @media only screen and (min-width: $tablet) {
    width: 426px !important;
    height: 64px !important;
    font-size: 16px;
  }
}

.btn-green-squared-md {
  @include btn-general($clr-primary, transparent, $clr-white, $border-squared);
  width: 100px;
  height: 40px;
  font-size: 14px;

  @media only screen and (min-width: $tablet) {
    width: 175px !important;
    height: 64px !important;
    font-size: 16px;
  }
}

.btn-transparent-squared-md {
  @include btn-general(transparent, $clr-primary, $clr-primary, $border-squared);

  width: 100px;
  height: 40px;
  font-size: 14px;

  @media only screen and (min-width: $tablet) {
    width: 175px !important;
    height: 64px !important;
    font-size: 16px;
  }
}

//--------------------------ICONS------------------------------
@mixin icon-general() {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-s {
  @include icon-general();
  width: 18px;
  height: 18px;

}
.icon-md {
  @include icon-general();
  width: 24px;
  height: 24px;

  @media only screen and (max-width: $phone) {
    width: 18px;
    height: 18px;
  }

}
.icon-lg {
  @include icon-general();
  width: 30px;
  height: 30px;
}

//--------------------------Line height phone - CLASS--------------------------

.line-height-1{
  @media only screen and (max-width: $phone) {
    line-height: 1;
  }
}
.line-height-1_5{
  line-height: 1.5;
}

//--------------------------Background position - CLASSES--------------------------

.background-no-repeat{
  background-repeat: no-repeat;
}
.background-size-contain{
  background-size: contain;
}
.background-position{
  background-position: top;
}

//--------------------------Display - CLASSES--------------------------

.display-inline{
  display: inline;
}
