@import "../../index.scss";


.MatchesPage_Container {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../../assets/images/MatchesPage_Background.png");
}

.MatchesPage_Wrapper {
    display: flex;
    justify-content: center;
}