@import "../../index.scss";

.CreateMatch{
    position:fixed;
    z-index: 999;
    bottom: 0;
    right: 0;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: $clr-primary;
    color: $clr-white;
    margin: 64px;
}
.Gig_Container {
    position: relative;
    background-color: $Dark_Grey;
    flex-direction: row;
    width: 100%;
    height: 500px;
    .Gig_Wrapper{
        grid-template-columns: repeat(2, 1fr);
        gap: 25px;
        height: 100%;
        justify-content: center;
        align-items: center;
        div{
        }

        .Gig_Info{
            flex-direction: column;
            max-height: 400px;
            .Gig_InfoTitle{
                width: 100%;
                margin-bottom: 20px;
            }
            .Gig_InfoSubtitle{
                width: 100%;
            }
            .Gig_InfoParagraph{
                width: 100%;
                margin-bottom: 20px;
            }
            a{
                text-decoration: none;
            }
        }
        .Gig_Pic{
            width: 100%;
            height: 400px;
            background-image: url(../../assets/images/gig_Background.png);
            background-size: cover;
            background-repeat: no-repeat;
        }
    }
}