@import "../../index.scss";


.MatchesPage_Container {
    position: relative;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../../assets/images/MatchesPage_Background.png");
    flex-direction: column;
}

.MatchesPage_Wrapper {
    padding-top: 125px;
    flex-direction: column;
    .input_Container{
        flex-direction: row;
        margin-top: 50px;
        margin-bottom: 50px;
        .input_Component{
            width: 200px;
            .Title{
                width: 100%;
                text-align: start;
            }
            .Input{
                width: 200px;
                height: 50px;
                background-color: $Dark_Grey;
                border:none;
            }
        }
    }
    .matches_Buttons{
        gap: 25px;
        user-select: none;
        div{
            cursor: pointer;
        }
    }
}