@import "../../../index.scss";

.news_Container {
    width: 100%;
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $Grey;
}

.news_Wrapper {
    width: 1440px;
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
}

.news_TweetsContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    overflow: hidden;
}

.news_SeeMore {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    img {
        margin-top: 15px;
    }
}
